.navbar {
  position: sticky !important;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 60px;
  background-color: #f2f2f2;
}

.atas {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navatar {
  margin-right: 30px;
}

.navinput {
  flex: 1;
}

.dividernav {
  border-color: rgb(204, 204, 204) !important;
  opacity: 0.8 !important;
  height: 40px !important;
}

.paddingmain {
  padding: 30px;
}
/* SIDEBAR ME */
.sidebar {
  background: #ffe5b4;
  color: #f96c08;
  height: 100vh;
  transition: all 0.5s;
  font-size: 20px;
  position: sticky;
  top: 60px;
}

.bars {
  display: flex;
  font-size: 25px;
}

.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  cursor: pointer;
}

.link {
  display: flex;
  color: #f96c08;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  align-items: center;
  cursor: pointer;
}
.link:hover {
  background: #f96c08;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.linkselected {
  display: flex;
  background: #f96c08;
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  align-items: center;
  cursor: pointer;
}

.link_text {
  font-size: 20px;
}
main {
  width: 100%;
}
.dropdown {
  transition: all 0.5s;
  overflow: hidden;
}
.dropdowncontent {
  padding-left: 40px;
}

/* SIDEBAR CO */

.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}

/* FORMIK */

input.input-error,
select.input-error {
  border-color: #fc8181;
}

.error {
  color: #fc8181;
}

/* PAGINATION */

.page {
  background: #ffe5b4;
  color: #f96c08;
}
.page:hover {
  background: #f96c08;
  color: white;
}

.pageselected {
  background: #f96c08 !important;
  color: white !important;
}

.disablePage {
  background: white !important;
  color: grey !important;
}

/* FILTER */
.filterbox {
  height: fit-content;
  border-color: rgb(216, 216, 216);
  border-width: 1px;
  color: #353535;
  /* POSISI */
  position: sticky;
  top: 80px;
}

.inputfilter {
  background: white;
}

/* TABLE */

.tablebox {
  background: white;
  height: fit-content;
  width: 70%;
}

.tablehead {
  background-color: #ffa500;
  color: #ffffff;
  height: 30px;
}

.tablebody {
  background-color: #ffecdb;
  color: #707070;
}

/* REQUEST STOCK */

.stockbox {
  height: fit-content;
  background-color: #ffe5b4;
  border-color: #ffa500;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #353535;
  padding: 20px;
}

.inputstock {
  background: white;
  border-color: #c8c8c8;
}

.buttonstock {
  background: #fbd48b;
  border-color: #ffa500;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  width: 50%;
  height: 50px;
  font-size: x-large;
  font-weight: 300;
}

.buttonstockselected {
  background: #ffe5b4;
  border-color: #ffa500;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  width: 50%;
  height: 50px;
  font-size: x-large;
  font-weight: 400;
}

.filler {
  color: white;
  border-color: #ffa500;
  border-bottom-width: 1px;
  height: 50px;
}

/* LANDING PAGE */

.landingpgg {
  color: #f96c08;
  font-size: 25px;
}

.landingpgg:hover {
  color: #fda566;
  font-size: 25px;
}

/* LANDING */

.caro-item {
  width: 100vw;
}

.caro-img {
  height: 100%;
  object-fit: cover;
}

.categorybar {
  height: 300px;
  object-fit: fill;
}

.cate-item {
  height: 200px;
}

.cate-img {
  height: 100%;
  object-fit: fill;
}

.categorycard {
  height: 200px;
  object-fit: cover;
  display: block;
  background: #ffe5b4;
}

.catbutton {
  color: #f96c08 !important;
}

.promobar {
  background-image: url("../src/Assets/catstrip.jpg");
  height: 200px;
  object-fit: fill;
}

.promocard {
  height: 120px;
  display: block;
  background: rgba(255, 229, 180, 0.5);
}

.promo-item {
  height: 120px;
}

.promobox {
  border-radius: 15px;
  border-width: 2px;
  border-color: #f96c08;
  margin-right: 50px;
  padding: 10px;
}

.promodetail {
  padding: 25px;
}

.productbox {
  border-radius: 15px;
  border-width: 2px;
  border-color: #c0c0c0;
  margin: 50px;
  padding: 20px;
  width: 1200px;
}

/* MODAL STOCK MUTATION */
.badgemodal {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.inputmutasi {
  border-width: 0px !important;
}

.dividermutasi {
  border-color: rgb(70, 70, 70) !important;
  opacity: 0.2 !important;
}

.dividervertikal {
  border-color: rgb(70, 70, 70) !important;
  opacity: 0.3 !important;
}

.dividerarea {
  border-color: rgb(70, 70, 70) !important;
  opacity: 0.8 !important;
}
