.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.sidebar {
  background: #ffe5b4;
  color: #f96c08;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  font-size: 20px;
}

.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.link {
  display: flex;
  color: #f96c08;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  align-items: center;
}
.link:hover {
  background: #f96c08;
  color: white;
  transition: all 0.5s;
}
.link_text {
  font-size: 20px;
}
main {
  width: 100%;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
